.text{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 14px;
    font-family: Noto Armenian Serif ;
}
.text>div{
    width: 27%;
    background: rgba(67, 206, 239,0.05);
    padding: 10px;
    /*background-color: #ff62f2;*/
}

.text>div>p{
    font-weight: 600;
    font-size: 25px;
    background: linear-gradient(to right, #241953 0% ,#43ceef 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
@media screen and (max-width: 900px){

    .text{
       display: table;
        margin-top: 0px;
    }
    .text>div{
        width: 90%;
        margin: 0 auto;
    }
}